@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-geist-mono), ui-monospace, SFMono-Regular, monospace;
}

@layer base {
  :root {
    --background: #faf9f6;
    --foreground: #2b261f;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
